
html { 
    text-align: center;
    background-color: darkgray;
}

.teste1{   
    color: red;
}

.teste2{
    color: blue;
}

.teste3{
    color: green;
}

#teste{
    color: blueviolet;
}

p[draggable="false"]{
color: red;
}

hr {
	border: 1px solid; 
	border-color: black;
	}
